@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  background-color: #0A1929;
  color: #fff,
  /* @apply bg-primary-bg text-white; */
}

.shadow-glow {
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.3);
}

.shadow-glow-intense {
  box-shadow: 0 0 25px rgba(59, 130, 246, 0.5);
}

.shadow-glow-sm {
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.2);
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

.hover-float:hover {
  animation: float 3s ease-in-out infinite;
}